@import "tailwindcss";

@theme {
  --color-primary: #10B981; /* Green-500 */
  --color-primary-dark: #059669; /* Green-600 */
  --color-secondary: #F3F4F6; /* Gray-100 */
  --font-sans: 'Inter', sans-serif;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #1f2937;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
